version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: postgres_container
    restart: always
    ports:
      - '11234:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
